.Nav {
 position: relative;
  top: 0;
  left: 0;
  height: 15%;
  width: 100%;
  background-color: #7209B7;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

 

}
.Pages {
    position: absolute;
    margin: 45px;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    width: 50%;
    font-size: larger;
    cursor: pointer;
    -webkit-text-stroke: 0.2px white;
    font-family:'Pacifico', cursive;

}

.Buy {
    color: #FFB5B1;
    background-color: transparent;
    border: none;
    font-size: large;
    font-family:'Pacifico', cursive;
    cursor: pointer;
}
.Buy:hover {
    background-color: #630a9e;
    border-radius: 20px;
    transition: 0.8s;
    
  }

.Who {
    color: #FFB5B1;
    background-color: transparent;
    border: none;
    font-size: large;
    font-family:'Pacifico', cursive;
    cursor: pointer;
    
}
.Who:hover {
    background-color: #630a9e;
    border-radius: 20px;
    transition: 0.8s;
  }

.Gallery {
    color: #FFB5B1;
    background-color: transparent;
    border: none;
    font-size: large;
    font-family:'Pacifico', cursive;
    cursor: pointer;
   
}
.Gallery:hover {
    background-color: #630a9e;
    border-radius: 20px;
    transition: 0.8s;
  }

.Cart {
    color: #FFB5B1;
    background-color: transparent;
    border: none;
    border-radius: 20px;
    font-size: large;
    font-family:'Pacifico', cursive;
    cursor: pointer;
   
}

.cartPhoto {
    height: 25px;
    position: relative;
    top: 5px;
    border-radius: 20px;
}
.btnIcon:hover {
    transition: 0.8s;
    background-color: #630a9e;
    border-radius: 20px;
}
  

