.CenterPart {
    display: flex;
    gap: 30px;
    transform: translate(-5%,-5%);
  -ms-transform: translate(-50%,-50%);
}


.IcingPhoto {
    height: 350px;
    width: 190px;
    border: 2px solid #BDE0FE;
    padding: 20px;

}

.IcingPhoto2 {
    width: 450px;
    height: 320px;
    box-shadow: 100px 150px #BDE0FE;

}

.GoDown {
    padding-top: 50px;
}

.whoAreWeText {
   
}

.title {
    display: block;
    font-size: 80px;
    font-family:'Pacifico', cursive;
    color: #FFAFCC;
    -webkit-text-stroke: 2px white;
    padding-top: 20%;
}